/*BG-variable*/

$bgbody: #000;
$bgmain: #363636;
$BGfocus: #4f4f4f;
$orangeMain: #ba4b01;

/*Font variable*/

$fontSize: 2rem;
$fontColor: #ffffff;
$linkColor: #ba4b01;
$visitedLinkColor: #943c01;
$placeholderColor: #bbbbbb;
$shadowColor: #943c01;

/*RWD*/

$smallerPhone: 320px;
$mostPhone: 480px;
$mostTablets: 768px;
$smallerDesktop: 992px;
$largeDevices: 1200px;
