<header class="page_header" id="header">
  <div id="feedback" class="feedback_input--add none"></div>

  <h1>Notatnik</h1>
</header>
<main class="page_main">
  <section class="toolbar">
    <form id="formTasks" class="form_toolbar--grid">
      <div class="form_input_task">
        <label for="formAddInput" class="form_label">Dodaj nowe zadanie</label>
        <input
          type="text"
          name="formAddInput"
          id="formAddInput"
          class="add_input form_input_element"
          placeholder="np. Zadanie 1"
        />
      </div>
      <div class="btn_btn--submit">
        <button class="btn btn_btn--add" id="formAddBtn" type="submit">
          Dodaj
        </button>
        <button type="button" class="btn btn_btn--remove" id="deleteItem">
          Usuń
        </button>
      </div>
      <div class="form_input_task">
        <label for="formSearchInput" class="form_label">Wyszukaj zadanie</label>
        <input
          type="text"
          name="formSearchInput"
          id="searchInput"
          class="input_search form_input_element"
          placeholder="np. Zadanie 1"
        />
      </div>
    </form>
  </section>
  <section class="main_content">
    <div class="container_note_app">
      <div class="btn--view-flex">
        <button id="markDownPreviewBtn" class="btn_btn_mdpreview" type="button">
          Podgląd
        </button>
        <button id="editorPreviewBtn" class="btn_btn_mdeditor" type="button">
          Edytor
        </button>
      </div>
      <form action="" class="form_editor" id="todoFormEdit">
        <div id="feedbackEditTitle" class="feedback_input-add none"></div>
        <textarea
          type="text"
          id="itemTitle"
          class="item_title"
          placeholder="Treść notatki..."
        ></textarea>
        <textarea
          class="item_markdown_content"
          id="todoMarkdownContent"
          placeholder="Treść notatki..."
        ></textarea>
        <div id="todoMarkdownPreview"></div>
        <button id="saveItem" class="btn_btn--save" type="submit">
          Zapisz
        </button>
      </form>
    </div>
    <div class="section_note_list">
      <div class="todo_list_item" id="todoList"></div>
    </div>
  </section>
</main>
<footer class="page_footer">
  <p>| Krzysztof Umiński | 2019</p>
</footer>
